<nav id="sidenav"  class="col-3 btn-group-toggle mx-2">

    <button type="menu" class="btn btn-success btn-lg btn-block mb-md-1 shadow" onclick="location.href='/addpatient'">
        Dodaj pacjenta 
        <i class="fas fa-pills float-right"></i>
    </button>
    
    <button class="btn btn-warning btn-lg btn-block mb-md-1 shadow" onclick="location.href='/patientedit'">
        Edytuj pacjenta
        <i class="fas fa-edit float-right text-white"></i>
    </button>
    
    <button class="btn btn-info btn-lg btn-block mb-md-1 shadow" onclick="location.href='/listadluz'">
        Lista dłużnikow 
        <span class="badge badge-light float-right"><%= osobwypoz %></span>
    </button>

    <button class="btn btn-info btn-lg btn-block mb-md-1 shadow" onclick="location.href='/listalekow'">
        Lista lekow 
        <i class="fas fa-list-ol float-right"></i>
    </button>

</nav>
