<% include partials/header %>

<div class="row">
        

    <% include partials/sidenav %>


    <div class="col-8 p-lg-3">
        <main class="text-center">
            <article >
                <h2>Witaj w zeszycie online !!!</h2>
                <h3 class="mb-lg-4">Po lewej stronie mamy do wyboru 4 opcje :</h3>
                <ol class="text-left">
                    <li class=""><h5 class="bg-success">Dodaj pacjenta : Dodajemy pacjenta i jakie leki pożycza</h5></li>
                    <li><h5 class="text-warning bg-dark">Edytuj pacjenta : Klikamy jak pacjent przyszedł oddać</h5></li>
                    <li><h5 class="text-info">Lista pacjentow : Wyświetli liczbę wszystkich pacjentow ktorzy jeszcze coś mają do oddania</h5></li>
                    <li><h5 class="text-info">Lista lekow : Wyświetli listę wszystkich lekow jakie są pożyczone</h5></li>
                </ol>
            </article>
        </main>        
    </div>
</div>
    


<% include partials/footer %>